@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  scroll-margin-top: 2.25rem;
  display: flex;
  align-items: center;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body .octicon-link {
  fill: var(--color-fg-default);
}

.markdown-body a {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgb(55 65 81);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(75 85 99);
  }
}
